.function-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    width: 235px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 30px;
}

.function-header {
    flex-direction: row;
    display: flex;
    align-content: center;
}

.function-six-dot {
    height: 8px;
    width: 12px;
    margin-top: 7px;
}

.function-header-text {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 10px;
    color: #ccc;
}

.function-label {
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 500;
}

.function-input,
.function-select{
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.function-select:disabled {
    background-color: #F5F5F5;
  }

.dropdown-option {
    font-size: 12px;
}

.function-select {
    background-color: #ccc;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.radio-option {
    font-size: 10px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border: #ccc;
    align-content: center;
}
