.connecting-line-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.connecting-line-svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.connecting-line {
  stroke: #0066ff;
  stroke-opacity: 0.3;
  stroke-width: 7;
}

.connecting-curve {
  stroke: #0066ff;
  stroke-opacity: 0.3;
  fill: none;
  stroke-width: 7;
}